@inherits LayoutComponentBase

<FluentHeader>
    <h3>Budgetr</h3>
    <FluentSpacer />
    <ProfileMenu />
</FluentHeader>
<div class="budgetr-wrapper">
    <FluentStack Orientation="@Orientation.Horizontal">
        <FluentNavMenu Collapsible="true" Width="150">
            <FluentNavMenuLink Href="/" Text="Home" Icon="@(new Icons.Regular.Size16.Home())" />
            <FluentNavMenuGroup Text="Tools" Icon="@(new Icons.Regular.Size16.Toolbox())">
                <FluentNavMenuLink Href="/tools/amortization-calculator" Icon="@(new Icons.Regular.Size16.BuildingBank())" />
            </FluentNavMenuGroup>
            <AuthorizeView>
                <FluentNavMenuLink Href="/budget" Text="Budget" Icon="@(new Icons.Regular.Size16.Calculator())"/>
                <FluentNavMenuLink Href="/profile" Text="Profile" Icon="@(new Icons.Regular.Size16.Person())" />
            </AuthorizeView>
        </FluentNavMenu>
        <div>
            @Body
            <div class="budgetr-push"></div>
        </div>
    </FluentStack>
</div>
<footer class="budgetr-footer">
    <FluentStack Orientation="@Orientation.Vertical" VerticalAlignment="@VerticalAlignment.Center" HorizontalAlignment="@HorizontalAlignment.Center">
        &copy; @DateTime.Today.Year - Budgetr
    </FluentStack>
</footer>

<FluentDialogProvider />
<FluentToastContainer />
